* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #383981;
    --light-color: #f4f4f6;
    --dark-color: #111;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: #fff;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

/* Navbar */

.navbar {
    background: #fff;
    padding: 20px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover {
 color: var(--primary-color);
}

.navbar ul li a i{
    margin-right: 10px;
}

.navbar ul li:last-child a{
    margin-left: 10px;
}

/* Hero */

.hero {
    margin-bottom: 50px;
}

.hero .container {
    background: url(../images/pastor.png) no-repeat ;
    background-size: contain;
    background-position: center bottom;
    height: 730px;
}

.hero .hero-content {
    width: 100%;
}

.hero .hero-text { 
    width: 70%;
    color: #fff;
    margin-bottom: 58%;
}

/* Video */

.video {
    padding: 10px 0 40px;
}

.video .video-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video .video-preview {
    margin-bottom: 20px;
}

.testimonials {
    padding: 40px 0;
}

.testimonials .testimonials-heading {
    width: 700px;
    margin-bottom: 40px;
}

.testimonials .testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonials .card p:nth-child(2){
    margin-top: 30px;
    font-weight: 600;
}

/* Pricing grid */

.pricing .pricing-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.pricing .pricing-card-subheading {
    margin-bottom: 30px;
}

.pricing .pricing-card-price {
    margin-bottom: 30px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.pricing ul {
    margin: 30px 0;
}

.pricing ul li {
    margin-bottom: 20px;
}

.pricing ul li i {
margin-right: 10px;
}


/* Foother */

.footer {
    padding: 40px 0;
}

.foother h4 {
    margin-bottom: 10px;
}

.footer ul li {
    line-height: 2.5;
}

.footer a {
    color:  #ccc;
}

.footer i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.footer input[type='email']{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 20px 0;
}
/* ----- */
.wrap {
    
    max-width: 1100px;;
    margin: auto;
    box-sizing: auto;  
  }
  .wrap * {
    box-sizing: inherit;
  }
  
  .swiper-outter {
    width: 100%;
    
    position: relative;
  }
   
  ..swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Size of arrow */
    color: black; /* Arrow color */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }
  
  .swiper-button-prev {
    content: '◀'; /* Left arrow */
    left: -20px;
  }
  
  .swiper-button-next {
    content: '▶'; /* Right arrow */
    right: -20px;
  }
  
.swiper-container {
    height: 100%;
    width: 1110px;
    position: relative;
    overflow: hidden;
  }
  .swiper-wrapper {
    width: 100%;
    
  
  }

  #topVideoPlayer {
    width: 100%;
    height: 100%;
  }

  .swiper-wrapper iframe {
    width: 100%;       /* Full width of container */
    height: 1200px;      /* Full height of container */
     /* Set max height to keep aspect ratio reasonable */
    border: none;      /* Remove default border */
    border-radius: 10px; /* Optional: round the corners */
    object-fit: cover;  /* Ensures it fills the container */
}

.video-wrapper {
  position: relative;
  width: auto; /* Adjust width as needed */
  height: 1080px; /* Adjust height as needed */
  overflow: hidden;
}

.video-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the div */
}

.preview-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; /* Hide initially */
}

.video-wrapper:hover .preview-video {
  display: block; /* Show video on hover */
}

.video-wrapper:hover .video-thumbnail {
  display: none; /* Hide thumbnail on hover */
}


/* Utility Classes  */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-sm {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Card */

.card { 
    background: #fff;
    color: #000;
    border-radius: 10px;
    padding: 20px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 13px 20px;
    background: var(--light-color);
    color: #333;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-color);
    color: #fff;
}

.btn-dark{
    background: var(--dark-color);
    color: #fff;
}

.btn-block {
    display: block;
    width: 100%;
}

/* Text classes */

.text-xxl {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

.text-center {
    text-align: center;
}

/* Background */

.bg-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.bg-light {
    background-color: var(--light-color);
    color: #333;
}

.bg-dark {
    background-color: var(--dark-color);
    color: #fff;
}

.bg-black {
    background-color: #000;
    color: #fff;
}

/* Hamburger Button */
.hamburger-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
  }
  
  .hamburger-button .hamburger-line {
    width: 30px;
    height: 3px;
    background: #333;
    margin: 6px 0;
  }
  
  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    right: -300px;
    width: 250px;
    height: 100%;
    z-index: 100;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
  }
  
  .mobile-menu.active {
    right: 0;
  }
  
  .mobile-menu ul {
    margin-top: 100px;
    padding-right: 10px;
  }
  
  .mobile-menu ul li {
    margin: 10px 0;
  }
  
  .mobile-menu ul li a {
    font-size: 20px;
    transition: 0.3s;
  }



/* Media Queries */
@media (max-width: 960px) {
    .text-xxl {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 670px) {
    .navbar .main-menu {
      display: none;
    }
  
    .navbar .hamburger-button {
      display: block;
    }
  
    .hero .container {
      background: url('../images/pastor.png') no-repeat;
      background-size: contain;
      background-position: bottom;
      height: 400px;
    }
  
    .hero .hero-content,
    .hero .hero-text {
      width: 100%;
      text-align: center;
    }
  
    .hero .hero-buttons .btn {
      margin-bottom: 10px;
      display: block;
      width: 100%;
    }
  
    .testimonials .testimonials-heading {
      max-width: 100%;
      text-align: center;
    }
  
    .testimonials .testimonials-grid,
    .pricing .pricing-grid,
    .footer .footer-grid {
      grid-template-columns: 1fr;
    }
  
    .footer .card {
      margin-right: 0;
    }
  
    .footer .footer-grid > div {
      text-align: center;
    }
  
    /* Text */
    .text-xl {
      font-size: 1.9rem;
    }
  
    .text-lg {
      font-size: 1.5rem;
    }
  
    .text-md {
      font-size: 1.1rem;
    }
  }
  
  @media (max-width: 500px) {
    .text-xxl {
      font-size: 2rem;
    }
  }


.about-body {
  font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9;
            color: #333;
}

